$accentColor = lighten(#6C5B7B, 20%);
$secondaryColor = #c06c84
$textColor = #2c3e50;
$borderColor = rgba(0, 0, 0, 0.05);
$codeBgColor = #222;
$arrowBgColor = #ccc;
$navbarHeight = 5rem;
$headerHeight = 75vh;